.box_jumbotron{
    width: 100%; 
    height: 650px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px; 
}

.user_jumbotron{
    margin: 50px;
}

.card{
    margin: 5px;
    width: 18rem;
}

.dropdown-login{
    width: 300px;
}

@media (min-width: 720px) {
	.dropdown-login {
		left: -150px; 
	}
}