<script src="./src/js/create_login.js" defer></script>
<div class="box_jumbotron login-form">
    <div class="jumbotron">
        <form action="login.php" method="POST" onsubmit="return validate()">
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="blankEmail" class="form-text text-muted" style="padding-top: 5px;">Email can not be left in blank!</small>
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password">
                <small id="blankPassword" class="form-text" style="padding-top: 5px; color: red">The password can not be left in blank!</small>
            </div>
            <div class="form-group">
                <label for="InputPassword2">Repeat Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                <small id="passwordMatch" class="form-text" style="padding-top: 5px; color: red">The password does not match!</small>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="subscribe" id="subscribe" value="Y">
                <label class="form-check-label" for="SubscribeCheck">I want to subscribe</label>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Create Login</button>
            </div>
        </form>
    </div>        
</div>