<div class="box_jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">An error occured!</h1>
      <p class="lead">Seems like this email is already here! <a href="index.php?action=logon">Please try to login.</a></p>
    </div>
  </div>
</div>