<div class="box_jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Your email was verified!!</h1>
      <p class="lead">Welcome to {{title}}, <a href='#' >before start, please tell me more about you</a></p>
    </div>
  </div>
</div>