<div class="box_jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">An email was sent to {{user.profile.email}}</h1>
      <p class="lead">Please verify your mailbox to activate your account!</p>
    </div>
  </div>
</div>