<div class="col-lg-12">
    <div class="text-center">
        <h3>
            <b>Log In</b>
        </h3>
    </div>
    <form action="login.php" method="post" role="form" autocomplete="off">
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" name="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="userPassword" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="keep" value="on">
            <label for="subscribe" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>