<script>
  setTimeout(()=>{
    window.location.replace("index.php");
  },2000);
</script>
<div class="box_jumbotron">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">You have been log out!</h1>
      <p class="lead">Hope to see you soon!</p>
    </div>
  </div>
</div>