<label hidden id='userEmail'>{{user.profile.email}}</label>
<label hidden id='userID'>{{user.user_ID}}</label>

<div id="luggageList" class="d-flex flex-wrap">
    <!--
    <div class="card">
        <a href="#">
            <img class="card-img-top" src="./src/assets/img/luggage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
      </div>
      -->
</div>
<script>
    let luggageToOffer;    
    function createLuggage(from, to, date) {
        let lugagge = document.createElement("div");
        $(lugagge).addClass('card');
    
        let link = document.createElement("a");
        $(link).attr('href', '#');
        $(link).addClass('luggage-link');
        $(link).appendTo(lugagge);
    
        let img = document.createElement("img");
        $(img).attr('src', './src/assets/img/luggage.png');
        $(img).addClass('card-img-top');
        $(img).appendTo(link);
    
        let luggageBody = document.createElement("div");
        $(luggageBody).addClass('card-body');
        $(luggageBody).appendTo(link);
    
    
        let title = document.createElement("h5");
        $(title).addClass('card-title');
        $(title).text(from + ' - ' +  to);
        $(title).appendTo(luggageBody);
    
        let text = document.createElement("p");
        $(text).addClass('card-text');
        $(text).text(date)
        $(text).appendTo(luggageBody);
    
        $(lugagge).appendTo(luggageList);
    }

    $.ajax({
        url: 'get_user.php',
        method: 'post',
        data: {luggage : { user_ID: userID.textContent,
                        email: userEmail.textContent,
                        luggage: 'offers'}}
    }).done((d)=>{
        luggageToOffer = JSON.parse(d);
        const luggageList = $('#luggageList')[0];
        luggageToOffer.map((l)=>{
            createLuggage(l[1], l[2], l[0]);
        });
        
    });
</script>

