<div class="jumbotron user_jumbotron">
    <form onsubmit="return test()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFrom">From</label>
                {% autoescape false %} {{ 'fromcountry'|createSelectBoxCountryList('form-control') }} {% endautoescape %}
            </div>
            <div class="form-group col-md-6">
                <label for="inputTo">To</label>
                {% autoescape false %} {{ 'tocountry'|createSelectBoxCountryList('form-control') }} {% endautoescape %}
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Where you want your customers to send their purchasings?</label>
            {% autoescape false %} {{ 'addresslist'|createSelectBoxAddressList('form-control', user) }} {% endautoescape %}
        </div>
        <!--
        <hr class="my-4">
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        -->
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="roundtrip">
                <label class="form-check-label" for="gridCheck">
                    round-trip?
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create new Luggage</button>
    </form>
</div>
<label hidden id='userEmail'>{{user.profile.email}}</label>
<label hidden id='userID'>{{user.user_ID}}</label>

<script>
    //There is no error testing, implementing it latter on!
    function test(){        
        return false;
    }
    let userEmail = $('#userEmail')[0];
    let userID = $('#userID')[0];
    let button = $('.btn')[0]
    let fields = $('.form-control');
    $(button).click((e)=>{
        let luggage = new Array();
        fields.map((index, element)=>{
            luggage.push(element.value);
        });
        $.ajax({
            url: 'save_user.php',
            method: 'post',
            data: {luggage : { user_ID: userID.textContent,
                            email: userEmail.textContent,
                            new_luggage: luggage}}
        }).done((d)=>{
            console.log(d);
        })

    });
</script>