<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="usermenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.profile.email}}
    </a>
    <div class="dropdown-menu dropdown-user" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="index.php?action=user.profile">Profile</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{menu_top.login.link}}">{{menu_top.login.label}}</a>
    </div>
    </a>
</div>
<script>
    let user = $('#usermenu')[0];
    let dropdown = $('.dropdown-user')[0];
    let left = 0;
    if (user.innerHTML.length < 30)
        left = -120 + user.innerHTML.length * 1.5;
    else
        left = + user.innerHTML.length * 1.5;
    left += 'px';
    $(dropdown).css('left', left)
</script>