<div class="btn-group mr-2 dropdown" role="group" aria-label="First group">
    <a class="btn btn-outline-secondary btn-sm" href="index.php?action=create_login">Create Login</a>
    <a class="btn btn-outline-dark btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{{menu_top.login.label}}
    </a>
    <div class="dropdown-menu dropdown-login" role="menu">
        {% include menu_top.login.form %}
    </div>
</div>