<div class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="index.php">Luggage Rental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.php">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=pricing">Pricing</a>
            </li>
            </ul>
            <span class="navbar-text">
                {% include menu_top.loginButton %}
            </span>                
        </div>
    </div>
