<script src="./src/js/user.js" defer></script>
<div class="jumbotron user_jumbotron">
    <form onsubmit="return test()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control-plaintext" readonly id="email" placeholder="Email" value={{user.profile.email}}>
            </div>
            <div class="form-group col-md-4">
                <label>Birthdate</label>
                <input type="date" class="form-control" id="birthdate" value={{user.profile.birthdate}}>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label>First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name" value={{user.profile.firstname}}>
            </div>
            <div class="col">
                <label>Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name" value={{user.profile.lastname}}>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary btn-lg" id="submit" style="margin-top: 20px;">Submit</button>
        </div>
    </form>
</div>