<div class="jumbotron user_jumbotron">
    <form onsubmit="return test();">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Address Nickname</label>
                <input type="text" class="form-control" id="inputAddressName" placeholder="Address nickname for reference">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Country</label>
                {% autoescape false %} {{ 'fromcountry'|createSelectBoxCountryList('form-control') }} {% endautoescape %}
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    This is the home address?
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" >Sign in</button>
    </form>
</div>
<label hidden id='userEmail'>{{user.profile.email}}</label>
<label hidden id='userID'>{{user.user_ID}}</label>
<script>
    //There is no error testing, implementing it latter on!
    function test(){
        return false;
    }
    let userEmail = $('#userEmail')[0];
    let userID = $('#userID')[0];
    let fields = $('.form-control');
    let home = $('#gridCheck')[0];
    let isHome = 'N';
    let button = $('.btn')[0];
    $(home).click((e)=>{
        if(e.target.checked)
            isHome = 'Y';
        else
            isHome = 'N';

    });
    $(button).click((e)=>{
        let address = new Array();
        fields.map((index, element)=>{
            address.push(element.value);
        });
        address.push(isHome);
        $.ajax({
            url: 'save_user.php',
            method: 'post',
            data: {address : { user_ID: userID.textContent,
                            email: userEmail.textContent,
                            new_address: address}}
        }).done((d)=>{
            console.log(d);
        })

    });
    
</script>