<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="index.php?action=user.profile.address.new">New Address</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>